<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FELIPE HOHER</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-fluid container-linear">
        <div class="row container-card">
            <div class="offset-lg-3 col-md-3 col-lg-3 card-col">
                <div class="card card-perfil">
                    <div classe="img-card-perfil">
                        <img src="../images/pp.jpg" alt="Foto de Perfil" class="card-image mx-auto d-block">
                    </div>
                    <div class="card-body">
                        <h5 class="text-center" style="text-align: center" id="nome-no-html"></h5>
                        <hr class="hr">
                        <p class="text-center" id="cargo-no-html"></p>
                        <div class="botoes-card">
                            <button onclick="clickNoSobre()" class="btn mr-1 btn-card" id="btn-sobre">Sobre</button>
                            <button onclick="clickNoProjetos()" class="btn ml-1 btn-card" id="btn-projeto">Carreira</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 text-body">
                
                <div class="text" id="texto-2">
                    <h1 class="title-text">Carreira</h1>
                    <h3 class="title-subtitle">Um pouco sobre minha trajetória.</h3>
                    <h3><a href="http://ritmi.com.br/" style="text-emphasis: none">Ritmi</a></h3>
                    <h4>2008-2011 - Técnico em Informática.</h4>
                        <br>
                        Contratado como Técnico em Informática.
                        <p>Principal função, era a manutenção preventiva e atendimento a usuários</p>
                        <p>Neste período foi que conheci a profissão de analista de sistemas.</p>
                    <br>
                    <br>
                    <h3><a href="https://www.grupogatomia.com.br/" style="text-emphasis: none">Grupo Gatomia</a></h3>
                    <h4>2013 - Assistente de TI.</h4>
                        <br>
                        <p>Contratado para auxiliar usuários na troca de ERP</p>
                        <p></p>
                </div>

                <div class="text" id="texto-1">
                    <h1 class="title-text">Sobre</h1>
                    <h3>FORMAÇÃO ACADÊMICA</h3>
                        <P>Técnico em Informática – Instituto Federal Catarinense;</P>
                        <p>Superior em Redes de Computadores – Instituto Federal Catarinense;</p>
                </div>

            </div>
        </div>
    </div>
    <footer class="container">
        <div class="row" id="footer-elementos">
            <div class="col-md-3 col-lg-3">
                <h4>Telefone</h4>
                <p>(48) 99970-9187</p>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="email">
                    <h4>E-mail</h4>
                    <p>hoherfelipe@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <h4>Siga</h4>
                <div class="links-redes-sociais">
                    <a href="https://www.facebook.com/hoherfelipe/" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/hoherfelipe/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/hoherfelipe" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/felipehoher/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/hoherfelipe" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5548999709187&text=Ol%C3%A1%20Felipe!" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center mb-2">
            <div class="col-lg-12 col-md-12">
                    <small>© 2017 / 2020 <a href="#" style="text-decoration:none">HOME TECNOLOGIA</a></small>
            </div>
        </div>
    </footer>

    <script src="../js/index.js"></script>
</body>
</html>